:root {
    --border: border: 1px solid #fbecfb;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: 760px;
    background-color: #eee;
}

.datatable {
    width: 200px;
    margin-top: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    text-align: center;
}

.col {
    border-top: var(--border);
    border-left: var(--border);
    padding: 10px;
}

.col:nth-child(even) {
    border-right: var(--border);
}

.row:last-child {
    border-bottom: var(--border);
    background-color: #bbb;
}

a:active,
a:visited,
a:link {
    color: navy;
}

a:hover {
    color: purple;
}