@media (min-width: 900px) {


    header,
    main,
    footer {
        width: 100vw;
        max-width: 1150px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
        font-size: 1.3rem;
    }

    /* Navigation menu: hide burger bar */
    #menu {
        display: none;
    }

    footer {
        font-size: 1rem;
    }

    h1 {
        font-size: 4.2rem;
        line-height: 3.3rem;
        padding: 1rem 3rem;
    }

    h2 {
        font-size: 2.7rem;
    }






    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}